<?xml version="1.0" encoding="utf-8"?>
<!--AUTO GENERATED MANIFEST FILE FROM AndroidManifestGenerator. DONT MODIFY HERE.-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.voxelbusters.androidnativeplugin" android:versionCode="1" android:versionName="1.0">
  <application>
    <!--Billing : Activity used for purchase view-->
    <activity android:name="com.voxelbusters.nativeplugins.features.billing.serviceprovider.google.GoogleBillingActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Application Launcher - Notifications : Used as a proxy to capture triggered notification.-->
    <activity android:name="com.voxelbusters.nativeplugins.features.notification.core.ApplicationLauncherFromNotification" android:theme="@style/FloatingActivityTheme" android:exported="true" />
    <!--Game Play Services helper activity-->
    <activity android:name="com.voxelbusters.nativeplugins.features.gameservices.serviceprovider.google.GooglePlayGameUIActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Sharing-->
    <activity android:name="com.voxelbusters.nativeplugins.features.sharing.SharingActivity" android:theme="@style/FloatingActivityTheme" />
    <!--UI  : Generic helper activity for launching Dialogs-->
    <activity android:name="com.voxelbusters.nativeplugins.features.ui.UiActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Custom File Provider. Sharing from internal folders  "com.voxelbusters.nativeplugins.extensions.FileProviderExtended"-->
    <provider android:name="com.voxelbusters.nativeplugins.extensions.FileProviderExtended" android:authorities="com.gamepie.splitup.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/nativeplugins_file_paths" />
    </provider>
    <!--Billing : Amazon Billing Receiver-->
    <receiver android:name="com.amazon.device.iap.ResponseReceiver">
      <intent-filter>
        <action android:name="com.amazon.inapp.purchasing.NOTIFY" android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
      </intent-filter>
    </receiver>
    <!--Notifications : GCM Receiver-->
    <receiver android:name="com.voxelbusters.nativeplugins.features.notification.serviceprovider.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="com.gamepie.splitup" />
      </intent-filter>
    </receiver>
    <!--Notifications : Receiver for alarm to help Local Notifications-->
    <receiver android:name="com.voxelbusters.nativeplugins.features.notification.core.AlarmEventReceiver" />
    <!--Notifications : GCM Service-->
    <service android:name="com.voxelbusters.nativeplugins.features.notification.serviceprovider.gcm.GCMIntentService" />
    <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\ 39569554122" />
  </application>
  <!--Permissions-->
  <!--Billing-->
  <uses-permission android:name="com.android.vending.BILLING" />
  <!--For enabling GCM-->
  <permission android:name="com.gamepie.splitup.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="com.gamepie.splitup.permission.C2D_MESSAGE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <!--Notifications : If vibration is required for notification-->
  <uses-permission android:name="android.permission.VIBRATE" />
  <!--GameServices : For getting content provider access.-->
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
  <!--Required for internet access-->
  <uses-permission android:name="android.permission.INTERNET" />
  <!--For Saving to external directory - Save to Gallery Feature in MediaLibrary / Used for sharing-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>